@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display|Saira+Stencil+One&display=swap');


body {
  font-family: 'Red Hat Display', sans-serif;
}

h1 {
  padding: 20px;
  margin-top: 0;
  text-align: center;
  font-family: 'Saira Stencil One', cursive;
  background: #022c4e;
  color: #ffffff;
}

button {
  margin: 5px;
  padding: 10px;
  background: #022c4e;
  color: #ffffff;
}

div.buttons {
  border-radius: 5px;
  border: 1px solid #cccccc;
  padding: 10px;
}

.clearfix {
  overflow: auto;
}
